.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: 48px;
}
.contact .contact_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 16px;
}
.contact .contact_title p {
  width: 576px;
  color: rgb(75, 85, 99);
  font-size: 20px;
  font-weight: 400;
}
@media screen and (max-width: 678px) {
  .contact .contact_title > p {
    width: 320px;
  }
}
.contact .contact_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 16px;
}
.contact .contact_items .contact_items_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.contact .contact_items .contact_items_row > .contact_mail > a {
  text-decoration: none;
  color: rgb(17, 24, 39);
  font-size: 36px;
  font-weight: 600;
}
.contact .contact_items .contact_items_row .contact_icon {
  width: 32px;
  height: 32px;
}
.contact .contact_items .contact_items_row .contact_icon > img {
  max-width: 100%;
  height: 32px;
}
@media screen and (max-width: 395px) {
  .contact .contact_items .contact_items_row .contact_mail > a {
    font-size: 15px;
  }
  .contact .contact_items .contact_items_row .contact_icon {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 400px) and (max-width: 678px) {
  .contact .contact_items .contact_items_row .contact_icon {
    width: 24px;
    height: 24px;
  }
  .contact .contact_items .contact_items_row .contact_icon > img {
    max-width: 100%;
    height: 24px;
  }
  .contact .contact_items .contact_items_row .contact_mail > a {
    font-size: 18px;
  }
}
@media screen and (min-width: 679px) and (max-width: 992px) {
  .contact .contact_items .contact_items_row > .contact_mail > a {
    font-size: 28px;
  }
}
.contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 8px;
}
.contact .social .social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .social .social_links > a {
  text-decoration: none;
  width: 36px;
  height: 36px;
}
.contact .social .social_links > a > img {
  width: 100%;
  height: 36px;
}