.header {
  width: 100%;
  height: 68px;
  position: absolute;
  inset: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5rem !important;
}
.header .header_light-icon {
  display: none;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.header .nav > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  border-width: 100%;
  border-right: 1px solid lightgray;
  padding-right: 20px;
}
.header .nav > nav > a {
  position: relative;
  text-decoration: none;
  color: rgb(75, 85, 99);
  font-weight: 500;
}
.header .nav > nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: red;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
.header .nav > nav a:hover::before, .header .nav > nav a:focus::before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.header .nav > nav a:hover::after,
.header .nav > nav a:focus::after {
  width: 100%;
}
.header .nav > nav a.visited::after {
  width: 100%;
}
.header .header_menu {
  display: none;
}
@media screen and (max-width: 800px) {
  .header .nav {
    display: none;
  }
  .header .header_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header .mobile-nav {
  width: 250px;
  min-height: 100vh;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: fixed;
  z-index: 999;
  top: 0;
  right: -250px;
  background-color: white;
  -webkit-box-shadow: -10px 0 10px rgb(0, 0, 0);
          box-shadow: -10px 0 10px rgb(0, 0, 0);
  overflow-x: hidden;
  -webkit-transition: right 2s;
  transition: right 2s;
  padding: 10px 0;
  row-gap: 25px;
}
.header .mobile-nav > .icon {
  width: 30px;
  height: 30px;
}
.header .mobile-nav > nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  row-gap: 20px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 20px 10px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .mobile-nav > nav > a {
  text-decoration: none;
  color: rgb(75, 85, 99);
  font-weight: 500;
}
.header .mobile-nav > nav :hover, .header .mobile-nav > nav :active {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: auto;
  color: white;
  padding: 8px 10px;
  border-radius: 8px;
  border-left: 2px solid #e669fb;
  background-color: #42465a;
}
.header .mobile-nav .nav_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}
.header .mobile-nav .nav_title > .icon > img {
  width: 30px;
  height: 30px;
}
.header .mobile-nav .nav_title .close_btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.header .mobile-nav .nav_title .close_btn > img {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}
.header .mobile-nav.open {
  right: 0;
}
.header .light-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.header .light-mode div > p {
  color: rgb(75, 85, 99);
}
.header .light-mode .download-button {
  width: 100%;
  background: #000;
  color: white;
}
.header .dark-mode {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.header .dark-mode .download-button {
  color: rgb(17, 24, 39);
  background: white;
}
.header .header_menu {
  display: none;
}

.sticky {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #adadad;
}

@media only screen and (max-width: 400px) {
  .header {
    padding: 0 20px !important;
  }
}
@media only screen and (min-width: 405px) and (max-width: 992px) {
  .header {
    padding: 0 2rem !important;
  }
}
@media screen and (max-width: 374px) {
  .header {
    width: 100%;
    padding: 0 20px;
  }
  .header .header_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .header .light-mode {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  .header .light-mode > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media only screen and (min-width: 300px) and (max-width: 800px) {
  .header {
    padding: 0 1rem;
  }
  .header .header_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .header .light-mode {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    padding: 0 10px;
    cursor: pointer;
  }
  .header .light-mode > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .dark-mode {
    width: 100%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
    padding: 0 10px;
    cursor: pointer;
  }
  .header .dark-mode > div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .dark-mode > div .download-button {
    width: 100%;
    color: rgb(17, 24, 39);
    background: white;
  }
}