	.header {
			width: 100%;
			height: 68px;
			position: absolute;
			inset: 0;
			z-index: 20;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 5rem !important;

			.header_light-icon {
				display: none;
			}

			.nav {
					display: flex;
					align-items: center;
					column-gap: 10px;

					> nav {
							display: flex;
							column-gap: 20px;
							border-width: 100%;
							border-right: 1px solid lightgray;
							padding-right: 20px;
					
							> a {
								text-decoration: none;
								color: rgba(75, 85, 99, 1);
								font-weight: 500;
							}
							 a:hover, a:active {
								color: red;
							}
							
					}
			}
			@media screen and (max-width: 800px) {
					.nav {
						display: none;
					}
					.header_menu {
							display: flex;
					}
			}

			.header_nav {
					width: 250px;
					min-height: 100vh;
					display: none;
					flex-direction: column;
					align-items: center;
					justify-content: start;
					position: fixed;
					z-index: 999;
					top: 0;
					right: 0;
					background-color: white;
					box-shadow: -10px 0 10px rgba(0,0,0,1);
					overflow-x: hidden;
					transition: 0.5s;
					padding: 10px 10px;
					row-gap: 25px;

					> .icon {
							width: 30px;
							height: 30px;
					}
					> nav {
							width: 100%;
							display: flex;
							flex-direction: column;
							justify-content: start;
							row-gap: 20px;

								> a {
									text-decoration: none;
									color: rgba(75, 85, 99, 1);
									font-weight: 500;
								}
					}

			.nav_title {
					width: 100%;
					display: flex;
					justify-content: space-between;

					> .icon > img {
							width: 30px;
							height: 30px;
					}
			.close_btn {
					width: 30px;
					height: 30px;

					> img {
						width: 30px;
						height: 30px;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 30px;
					}
				}
			}
			}
	
			.light-mode {
					display: flex;
					column-gap: 12px;
					
					div > span {
						color: rgba(75, 85, 99, 1);
					}
					& .download-button {
						background: #000;
						color: white;
					}
			}

			.dark-mode {
				display: none;
				align-items: center;
				column-gap: 12px;

				& .download-button {
					color: rgba(17, 24, 39, 1);
					background: white;
				}
			}		
			.header_menu {
				display: none;
			}
	}

	.sticky {
		position: fixed;
		display: flex;
		align-items: center;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
		background-color: #00bcd4;
	}

	@media only screen and (max-width: 992px) {
		.header {
			padding: 0 2rem !important;
		}
	}

	
		
		@media screen and (max-width: 374px) {
				.header {
						width: 100%;
						padding: 0 1rem;

				.header_menu {
						display: flex;
				}

				.light-mode {
						width: 100%;
						display: flex;
						flex-direction: column;
						row-gap: 20px;

						> div {
								display: flex;
								justify-content: space-between;
								align-items: start;
						}
				}
		}
		}

	@media only screen and (min-width: 375px) and (max-width: 800px) {
		.header {
			.header_menu {
					display: flex;
			}
			.light-mode {
					width: 100%;
					display: flex;
					flex-direction: column;
					row-gap: 20px;

					> div {
							display: flex;
							justify-content: space-between;
							align-items: center;
							
					}
					
			}
			.dark-mode {
				display: none;
				align-items: center;
				column-gap: 12px;

				& .download-button {
					color: rgba(17, 24, 39, 1);
					background: white;
				}
			}	
		}
	}
