.header {
  width: 100%;
  height: 68px;
  position: absolute;
  inset: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5rem !important;
}
.header .header_light-icon {
  display: none;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.header .nav > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  border-width: 100%;
  border-right: 1px solid lightgray;
  padding-right: 20px;
}
.header .nav > nav > a {
  text-decoration: none;
  color: rgb(75, 85, 99);
  font-weight: 500;
}
.header .nav > nav a:hover, .header .nav > nav a:active {
  color: red;
}
@media screen and (max-width: 800px) {
  .header .nav {
    display: none;
  }
  .header .header_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header .header_nav {
  width: 250px;
  min-height: 100vh;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: white;
  -webkit-box-shadow: -10px 0 10px rgb(0, 0, 0);
          box-shadow: -10px 0 10px rgb(0, 0, 0);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px 10px;
  row-gap: 25px;
}
.header .header_nav > .icon {
  width: 30px;
  height: 30px;
}
.header .header_nav > nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  row-gap: 20px;
}
.header .header_nav > nav > a {
  text-decoration: none;
  color: rgb(75, 85, 99);
  font-weight: 500;
}
.header .header_nav .nav_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header_nav .nav_title > .icon > img {
  width: 30px;
  height: 30px;
}
.header .header_nav .nav_title .close_btn {
  width: 30px;
  height: 30px;
}
.header .header_nav .nav_title .close_btn > img {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}
.header .light-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.header .light-mode div > span {
  color: rgb(75, 85, 99);
}
.header .light-mode .download-button {
  background: #000;
  color: white;
}
.header .dark-mode {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.header .dark-mode .download-button {
  color: rgb(17, 24, 39);
  background: white;
}
.header .header_menu {
  display: none;
}

.sticky {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #00bcd4;
}

@media only screen and (max-width: 992px) {
  .header {
    padding: 0 2rem !important;
  }
}
@media screen and (max-width: 374px) {
  .header {
    width: 100%;
    padding: 0 1rem;
  }
  .header .header_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .light-mode {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  .header .light-mode > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media only screen and (min-width: 375px) and (max-width: 800px) {
  .header .header_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .light-mode {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  .header .light-mode > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .dark-mode {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
  }
  .header .dark-mode .download-button {
    color: rgb(17, 24, 39);
    background: white;
  }
}