.testimionals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 5rem;
}
.testimionals .testimionals_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 16px;
}
.testimionals .testimionals_title > span {
  height: 28px;
  padding: 4px 20px 4px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  font-size: 14px;
  border-radius: 12px;
  background-color: rgb(229, 231, 235);
}
.testimionals .testimionals_title > p {
  font-size: 20px;
  color: rgb(75, 85, 99);
  font-weight: 400;
}
.testimionals .testimionals_row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 48px 1fr 48px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
  margin-top: 60px;
}
.testimionals .testimionals_row .testimionals_row_piece {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  border: 1px;
  gap: 24px;
  padding: 48px;
  -webkit-box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.06);
          box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.06);
}
.testimionals .testimionals_row .testimionals_row_piece > .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.testimionals .testimionals_row .testimionals_row_piece p {
  color: rgb(75, 85, 99);
  font-size: 16px;
  font-weight: 400;
}
.testimionals .testimionals_row .testimionals_row_piece .testimionals_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 4px;
}
.testimionals .testimionals_row .testimionals_row_piece .testimionals_name > h3 {
  font-weight: 600;
  font-size: 20px;
  color: rgb(17, 24, 39);
}
.testimionals .testimionals_row .testimionals_row_piece .testimionals_name > span {
  color: rgb(75, 85, 99);
  font-size: 14px;
}
@media only screen and (max-width: 678px) {
  .testimionals .testimionals_row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
  .testimionals .testimionals_row .testimionals_row_piece {
    padding: 35px;
  }
}
@media only screen and (min-width: 679px) and (max-width: 992px) {
  .testimionals .testimionals_row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
  }
  .testimionals .testimionals_row .testimionals_row_piece {
    padding: 35px;
  }
}

@media screen and (max-width: 550px) {
  .testimionals {
    padding: 4rem 1rem;
  }
}