.work {
    display: flex;
    flex-direction: column;

	.work_title {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 16px;

    & p {
		line-height: 24px;
		color: rgba(75, 85, 99, 1);
    }
}

	& .projects_column {
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 48px;
		margin-top: 48px;

		.projects_column_row {
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			> .project_image {
				background: rgba(243, 244, 246, 1);
				border-radius: 0 12px 12px 0;
				border: 1px;
				padding: 48px;
				flex: 1;
				width: 50%;
				height: 480px;

				> img {
					width: 100%;
					max-width: 100%;
					height: 380px;
					object-fit: cover;
				}
			}
			> .projects_text {
				width: 50%;
				display: flex;
				flex: 1;
				flex-direction: column;
				box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.06);
				background: rgba(255, 255, 255, 1);
				border-radius: 0 12px 12px 0;
				padding: 48px;
				row-gap: 24px;

				& .project_description {
					display: flex;
					flex-wrap: wrap;
					text-align: start;
					gap: 8px;

					> span {
						background: rgba(229, 231, 235, 1);
						padding: 4px 20px;
						text-align: center;
						border-radius: 12px;
						font-size: 14px;
						font-weight: 400;
						color: rgba(75, 85, 99, 1);
					}
				}
				.project_skills-icon {
					width: 100%;
					height: 36px;

					> img {
						max-width: 100%;
						height: 36px;
					}
				}
			}
		}
		
		.projects_column_row:nth-child(2) {
			flex-direction: row-reverse;
		  }
		
		@media only screen and (max-width: 375px) {
			.projects_column_row {
				flex-direction: column !important;
				align-items: center;
				padding: 20px;

				> .project_image {
					flex: 1;
					width: 100%;
					height: auto;

					& img {
						max-width: 100%;
						height: auto;
					}
				}
					> .projects_text {
						width: 100% !important;
						padding: 20px;
					}
				
		
				.projects_column_row:nth-child(2) {
					flex-direction: column;
				}
			}
		}
		@media only screen and (min-width: 376px) and (max-width: 768px) {
			.projects_column_row {
				flex-direction: column !important;
				align-items: center;
				padding: 20px;

				> .project_image {
					width: 100%;
					border-radius: 12px 12px 0 0;
					height: auto;
					padding: 2rem;

					& img {
						max-width: 100%;
						height: auto !important;
						object-fit: cover;
						border-radius: 12px 12px 0 0 !important;
					}
				}
				
					> .projects_text {
						border-radius: 0 0 12px 12px !important;
						width: 100% !important;
						height: auto; 
						padding: 2rem;
					}
					
				.projects_column_row:nth-child(2) {
					padding: 20px;
					flex-direction: column;
				}
			}
		}

	

		@media only screen and (min-width: 769px) and (max-width: 992px) {
			
			.projects_column_row {
				flex-direction: column !important;
				align-items: center;

				> .project_image {
					width: 80%;
    				max-width: 100%;
					border-radius: 12px 12px 0 0;
					
					& img {
						width: 100%;
						height: auto !important;
						object-fit: cover;
						border-radius: 12px 12px 0 0 !important;
					}
				}
				
					> .projects_text {
						width: 80%;
    					max-width: 100%;
						border-radius: 0 0 12px 12px !important;
					}
			
				
			}
			.projects_column_row:nth-child(2) {
				flex-direction: column;
			  }
		}
	}
}

@media screen and (max-width: 768px) {
	.work {
		padding: 20px !important;
		margin: auto;
	}
}