.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.work .work_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 16px;
}
.work .work_title p {
  line-height: 24px;
  color: rgb(75, 85, 99);
}
.work .projects_column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 48px;
  margin-top: 48px;
}
.work .projects_column .projects_column_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.work .projects_column .projects_column_row > .project_image {
  background: rgb(243, 244, 246);
  border-radius: 0 12px 12px 0;
  border: 1px;
  padding: 48px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%;
  height: 480px;
}
.work .projects_column .projects_column_row > .project_image > img {
  width: 100%;
  max-width: 100%;
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
}
.work .projects_column .projects_column_row > .projects_text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.06);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  border-radius: 0 12px 12px 0;
  padding: 48px;
  row-gap: 24px;
}
.work .projects_column .projects_column_row > .projects_text .project_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: start;
  gap: 8px;
}
.work .projects_column .projects_column_row > .projects_text .project_description > span {
  background: rgb(229, 231, 235);
  padding: 4px 20px;
  text-align: center;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(75, 85, 99);
}
.work .projects_column .projects_column_row > .projects_text .project_skills-icon {
  width: 100%;
  height: 36px;
}
.work .projects_column .projects_column_row > .projects_text .project_skills-icon > img {
  max-width: 100%;
  height: 36px;
}
.work .projects_column .projects_column_row:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media only screen and (max-width: 375px) {
  .work .projects_column .projects_column_row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .work .projects_column .projects_column_row > .project_image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    height: auto;
  }
  .work .projects_column .projects_column_row > .project_image img {
    max-width: 100%;
    height: auto;
  }
  .work .projects_column .projects_column_row > .projects_text {
    width: 100% !important;
    padding: 20px;
  }
  .work .projects_column .projects_column_row .projects_column_row:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (min-width: 376px) and (max-width: 768px) {
  .work .projects_column .projects_column_row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .work .projects_column .projects_column_row > .project_image {
    width: 100%;
    border-radius: 12px 12px 0 0;
    height: auto;
    padding: 2rem;
  }
  .work .projects_column .projects_column_row > .project_image img {
    max-width: 100%;
    height: auto !important;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 12px 12px 0 0 !important;
  }
  .work .projects_column .projects_column_row > .projects_text {
    border-radius: 0 0 12px 12px !important;
    width: 100% !important;
    height: auto;
    padding: 2rem;
  }
  .work .projects_column .projects_column_row .projects_column_row:nth-child(2) {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .work .projects_column .projects_column_row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work .projects_column .projects_column_row > .project_image {
    width: 80%;
    max-width: 100%;
    border-radius: 12px 12px 0 0;
  }
  .work .projects_column .projects_column_row > .project_image img {
    width: 100%;
    height: auto !important;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 12px 12px 0 0 !important;
  }
  .work .projects_column .projects_column_row > .projects_text {
    width: 80%;
    max-width: 100%;
    border-radius: 0 0 12px 12px !important;
  }
  .work .projects_column .projects_column_row:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .work {
    padding: 20px !important;
    margin: auto;
  }
}