
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body.dark-theme {
    background-color: rgba(3, 7, 18, 1);
    color: white;
}

.light-mode, .dark-mode {
    transition: display 2s;
}

.download-button {
	width: 100%;
	border-radius: 14px;
	color: white;
	border: 0;
    text-align: center;
	padding: 6px 16px;
}

.title {
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 20px 0 20px;
    font-size: 14px;
    border-radius: 12px;
    background-color: rgba(229, 231, 235, 1);
}
